
.item-product {
    background-color: #fff;
    display: grid;
    grid-template-columns: 10% 85% 5%;
    border: #000 solid 1px;
    padding: 5px;
}

.left-item {
    display: flex;
}
.left-item > img {
    /* width: 100px; */
    height: 89px;
    object-fit: contain;
}   