
#logo-brand-label {
    font-weight: 500;
    font-size: 1.2rem;
}
#brand-content-label {
    font-weight: 500;
    font-size: 1.2rem;
}
#intro-content-label {
    font-weight: 500;
    font-size: 1.2rem;
}

.made-new-brand-container {
    width: 520px;
}
.input-field-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
}

.btn-container {
    /* margin-top: 5px; */
    display: flex;
    justify-content: right;
}