.make-products-container {
    background-color: #fff;
    padding: 20px 30px;
}
.container-cpu, .container-gpu, .container-battery {
    margin: 20px 0;
    border: #000 1px solid;
}
.form-create-cpu {
    /* padding: 20px; */
    display: grid;
    grid-template-columns: max-content;
    /* column-gap: 10px; */
    /* row-gap: 10px; */
    /* gap: 10px; */
}
.spec-cpu-contain {
    display: flex;
    column-gap: 20px;
}
.form-create-cpu > div {
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: 10px; */
}
.list-input-speeds {
    display: flex;
    flex-direction: row;   
    margin-bottom: 10px;
}

.container-battery {
    background-color: aqua;
    width: 100%;
    position: relative;
}
.container-battery > div {
    margin-top: 10px;
    margin-left: 10px;
}
.battery-content {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 50% 50%;

    background-color: red; 
}
.make-battery > div {
    margin-right: 10px;
    margin-bottom: 10px;
}
.result-make-battery {
    /* position: absolute; */
    /* background-color: #fff; */
    background-color: rgb(25, 161, 47);
}
.btn-action-battery {
    display: grid;
    width: 25%;
    /* background-color: #000; */
    /* grid-row: auto; */
    column-gap: 20px;
    grid-template-columns: 100px 100px;
}

/* connection container css*/
.container-connect {
    border: #000 1px solid;
    margin-bottom: 10px;
}
.right-container-connect {
    /* margin: 10px; */
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: aquamarine;
    margin: 10px;
    column-gap: 10px;
}
.action-connect-btn > Button {
    margin-right: 10px;
}
.result-make-connect {
    width: calc(100% - 20px);
    height: 100px;
    background-color: red;
    margin: 10px;
}
/* camera container */
.camera-container {
    border: #000 1px solid;
    margin-bottom: 10px;
    position: relative;
}
.make-camera-container {
    width: 50%;
    background-color: aquamarine;
}
.input-content-camera {
    display: grid;
    grid-template-columns: 25% auto;
    column-gap: 10px;
    margin:10px;
}
.action-cam-btn {
    position: relative;
    display: grid;
    grid-template-columns: 55px 55px;
    gap: 25px;
    margin-left: 10px;
}
.result-make-camera {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: red;
    right: 0; top: 0;
}

/* screen container */
.screen-container {
    border: #000 1px solid;
    margin-bottom: 10px;
    position: relative;
}
.make-screen-container {
    position: relative;
    width: calc(50% - 20px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    gap: 15px;
    background-color: aquamarine;
}

.result-screen {
    position: absolute;
    width: 50%;
    background-color: red;
    height: 100%;
    right:0;top:0;
}
.btn-action-screen {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    margin-left: 10px;
    gap: 15px;
}